*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font: bold 20px "Courier";
}
#container{
    /*垂直水平居中*/
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*设计要求样式*/
    width: 360px;
    height: 420px;
    border: 10px solid black;
    border-radius: 30px;
    background-color: #b7d4a8;
    /*弹性盒模型布局*/
    display: flex;
    flex-flow: column ;
    justify-content: space-around;
    align-items: center;
}

#main-area{
    width: 304px;
    height: 304px;
    border: 2px solid black;
    position: relative;
}
#score-panel{

    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row ;
    width: 304px;
}

#snake > div {
    width: 10px;
    height: 10px;
    border: 1px solid #b7d4a8;
    background-color: black;
    position: absolute;
}
#food{
    top: 50px;
    left: 80px;
    width: 10px;
    height: 10px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
}
#food > div{
    background-color: black;
    width: 3.5px;
    height: 3.5px;
    transform: rotate(-45deg);
    border-radius: 1px;
}